#test{
	width: 200px;
	height: 200px;
	margin: 0 40px;
	background-color: blue;
}
#div{
	padding-left:15px;
	margin-top:20px;
	text-align:15px;
	position:absolute;
	background-color: #fff;
	padding-left:
}
